<h1>Should I take an umbrella? </h1>
<!-- by default forms use method="get"-->
 <!--post method is used to avoid having things appearing in query string-->
<form action="/process_umbrella" method="post">
  <label for="user_ans"> Where are you located </label>
  <input id="user_ans" name="user_loc" type="text">

  <button>Submit </button>
</form>
